<% content_for :title do %>Pivotal<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="pivotal_1128428" data-view="Pivotal" data-title="Linefeed Pivs" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

  </ul>
</div>

